# Virtual Environment
venv/
.env
*.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data Files
*.parquet
*.csv
*.xlsx
*.db

# IDE Config Files
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency Files
*.lock
Pipfile
Pipfile.lock

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# Generated Docs
docs/_build/
